{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
<!-- Page Header-->
<header class="masthead" style='background-image: url("{% static 'home/assets/img/home-bg.jpg' %}")'>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ header }}</h1>
                    <span class="subheading">{{ header }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
{% if user.is_authenticated %}
<div class="text-center">
    <h2>Bienvenido {{ user.username }}</h2>
    <h3><a style="color: rgb(3, 36, 184)" href="{% url 'user:avatar-load' %}">Cambiar Avatar</a></h3>
    <img height="160px" src="{{url}}" alt="">
</div>
{% endif %}
<h2>Search this Blog</h2>
<hr>
</hr>

<form action="/search" method="GET">
<div class="main">
    <!-- Another variation with a button -->
    <div class="input-group">
        <input type="text" name="search_param" id="course_code_or_name" class="form-control" placeholder="Search this blog"
        {% if search_param %} value="{{ search_param }}" {% endif %}>
        <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
        </button>
        <a style="color: blue" href="{% url 'blog:home' %}"><i class="fa fa-undo"></i></a>
        </div>
    </div>
</div>
</form>

<hr>
</hr>

{% if post_list %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in post_list %}
            <div class="post-preview">
                <a href="{% url 'blog:post_detail' post.slug  %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.title_short }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ post.author }}</a>
                    on {{ post.created_on}}
                    <small>{{ post.created_on|naturaltime }}</small>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if post_list.has_other_pages %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if post_list.has_previous %}
    <li><a href="?page={{ post_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if post_list.has_next %}
    <li><a href="?page={{ post_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
   {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

{% endblock content %}
