{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
<!-- Page Header-->
<header class="masthead" style='background-image: url("{% static 'home/assets/img/home-bg.jpg' %}")'>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ header }}</h1>
                    <span class="subheading">{{ subheader }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}

<center><h2>Search this Blog</h2></center>
<hr>
</hr>

<form action="{% url 'blog:search_results' %}" method="get">
    <div class="main">
        <!-- Another variation with a button -->
        <div class="input-group">
            <input type="text" name="q" id="post_search" class="form-control" placeholder="Search this blog..."
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
                <a style="color: blue" href="{% url 'blog:home' %}"><i class="fa fa-undo"></i></a>
            </div>
        </div>
    </div>
</form>
<hr>
</hr>

{% if post_list %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% if post_count == 0 %}
            <h2>No results ....</h2>
            {% else %}
            <h2>Showing {{ post_count }} result{{ post_count|pluralize:'s' }} ....</h2>
            {% endif %}
            <!-- Post preview-->
            {% for post in post_list %}
            <div class="post-preview">
                <a href="{% url 'blog:post_detail' post.slug  %}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.title_short }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ post.author }}</a>
                    on {{ post.created_on}}
                    <small>{{ post.created_on|naturaltime }}</small>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if post_list.has_other_pages %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if post_list.has_previous %}
    <li><a href="?page={{ post_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if post_list.has_next %}
    <li><a href="?page={{ post_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
   {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Login
          $("#login-btn").modalForm({
            //formURL: "{% url 'login' %}"
          });

          //  Signup
          $("#signup-btn").modalForm({
            //formURL: "{% url 'user:signup' %}"
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });
      });
  </script>
{% endblock extrascripts %}

