appnope
arrow
asgiref
asttokens
async-timeout
attrs
backcall
backports.zoneinfo
black
certifi
cffi
chardet
charset-normalizer
click
construct
crispy-bootstrap5
cryptography
decorator
defusedxml
Deprecated
diff-match-patch
dj-database-url
Django
django-allauth
django-autocomplete-light
django-bootstrap-modal-forms
django-ckeditor
django-comments-xtd
django-contrib-comments
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-disqus
django-environ
django-extensions
django-fluent-comments==2.1
django-heroku
django-import-export
django-js-asset
django-markdown2
django-modeltranslation
django-ranged-response
django-simple-captcha
django-simple-history
django-sql-explorer
django-tag-parser
django-taggit
django-widget-tweaks
djangorestframework
docutils
easy-thumbnails
et-xmlfile
executing
forge
future
gunicorn
hiredis
honcho
idna
iniconfig
ipdb
ipython
isort
jdcal
jedi
Jinja2
markdown2
MarkupPy
MarkupSafe
matplotlib-inline
mock
mypy-extensions
oauthlib
odfpy
openpyxl
packaging
parso
pathspec
pefile
pexpect
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
psycopg2
psycopg2-binary
ptyprocess
pure-eval
py
pycparser
Pygments
PyJWT
pyparsing
pysolr
pytest
pytest-django
python-akismet
python-dateutil
python-dotenv
python-ptrace
python3-openid
pytz
PyYAML
redis
requests
requests-oauthlib
selenium
six
social-auth-app-django
social-auth-core
sqlparse
stack-data
tablib
toml
tomli
traitlets
typing_extensions
unicodecsv
urllib3
wcwidth
whitenoise
wrapt
xlrd
xlwt
