{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
<!-- Page Header-->
<header class="masthead" style='background-image: url("{% static 'home/assets/img/about-bg.jpg' %}")'>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ header }}</h1>
                    <span class="subheading">{{ subheader }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}


{% block content %}

<!-- Main Content-->
<main class="mb-4">
    <center><h1>What we did!</h1>
        <hr style="width:25%;text-align:left;margin-left:0; height:3px;border-width:0;color:tail;background-color:gray;">
        <br>
    </center>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
            </div>
        </div>
    </div>
    <br>
    <center><h1>Members</h1>
        <hr style="width:25%;text-align:left;margin-left:0; height:3px;border-width:0;color:tail;background-color:gray;">
        <br>
    </center>

</main>

{% endblock content %}

<div class="contenido-about">
    <div class="fila-integrantes">
        <div class="persona-uno">
            <div class="card p-4"> 
                <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                    <button class="btn btn-secondary"> 
                        <img src="https://i.postimg.cc/ZvWPLVJK/avatar2.png" height="100" width="100" />
                    </button>
                    <span class="integrante">Javier Manzur</span> 
                    <span class="red-social">@doneuno</span> 
                    <div class="text-description">
                        <span>Diseñador Gráfico y QA Engineer<br>
                            <br> Artist/ Creative Director by Day #NFT minting@ with FND night. </span>
                    </div> 
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <span><i class="fa fa-twitter"></i></span>
                        <span><i class="fa fa-facebook-f"></i></span>
                        <span><i class="fa fa-instagram"></i></span>
                        <span><i class="fa fa-linkedin"></i></span> 
                    </div> 
                </div> 
            </div>
        </div>
        <div class="persona-dos">
            <div class="card p-4"> 
                <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                    <button class="btn btn-secondary"> 
                        <img src="https://i.postimg.cc/qhMxNpYK/avatar1.png" height="100" width="100" />
                    </button>
                    <span class="integrante">Javier Jaramillo</span> 
                    <span class="red-social">@jjaramillo</span> 
                    <div class="text-description">
                        <span>Data Analyst<br>
                            <br> Data Analyst by Day #NFT minting@ with FND night. </span>
                    </div> 
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <i class="fa fa-twitter"></i>
                        <span><i class="fa fa-facebook-f"></i></span>
                        <span><i class="fa fa-instagram"></i></span>
                        <span><i class="fa fa-linkedin"></i></span> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>