{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
<!-- Page Header-->
<header class="masthead" style='background-image: url("{% static 'home/assets/img/home-bg.jpg' %}")'>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ header }}</h1>
                    <span class="subheading">{{ subheader }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}

<!-- Main Content -->
<main class="mb-4">
    <center>
        <h1>What we did</h1>
        <div class="about-info">
            <br>
            <p>{{ team1 }} </p>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>
            <p> voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>    

    </center>

    <section class="bg-light-blue pt-5 pb-5">
        <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-3 mb-3 mb-md-0">
                  <span class="h2 d-block">Meet the members</span>
              </div>
              <div class="col-lg-9">
                  <div class="row">
                      <div class="col-md-4 d-flex">
                          <div class="card mb-3">
                              <img class="card-img-top" src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" alt="Javier Jaramillo">
                              <div class="card-body py-3">
                                  <h5 class="mb-0">Javier Jaramillo</h5>
                                  <span>Data Analyst</span>
                              </div>
                              <div class="card-footer pt-0 border-top-0">
                                  <a href="#">jjaramillo@gmail.com</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 d-flex">
                          <div class="card mb-3">
                              <img class="card-img-top" src="https://scontent.faep9-3.fna.fbcdn.net/v/t39.30808-6/215520345_209563067835916_3540373049427868151_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=A5xcqAV4-mMAX8lRK0Z&_nc_ht=scontent.faep9-3.fna&oh=00_AT-EoCtRyX3mG0IFvmwNMF-6hLoyKzicPwMF6A0Na4qVQA&oe=62BBA25C" alt="Javier Manzur">
                              <div class="card-body py-3">
                                  <h5 class="mb-0">Javier Manzur</h5>
                                  <span>QA Engineer</span>
                              </div>
                              <div class="card-footer pt-0 border-top-0">
                                  <a href="#">javiermanzur89@gmail.com </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 d-flex">
                          <div class="card mb-3">
                              <img class="card-img-top" src="https://fotos.perfil.com/2022/06/16/trim/950/534/elon-musk-1372894.jpg" alt="Elon Musk">
                              <div class="card-body py-3">
                                  <h5 class="mb-0">Elon Musk</h5>
                                  <span>CEO OF TESLA (HELPING HAND)</span>
                              </div>
                              <div class="card-footer pt-0 border-top-0">
                                  <a href="#">email@email.com </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </section>

<div class="contenido-about">
    <div class="fila-integrantes">
        <div class="persona-uno">
            <div class="card p-4"> 
                <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                    <button class="btn btn-secondary"> 
                        <img src="https://i.postimg.cc/ZvWPLVJK/avatar2.png" height="100" width="100" />
                    </button>
                    <span class="integrante">Javier Manzur</span> 
                    <span class="red-social">@doneuno</span> 
                    <div class="text-description">
                        <span>Diseñador Gráfico y QA Engineer<br>
                            <br> Artist/ Creative Director by Day #NFT minting@ with FND night. </span>
                    </div> 
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <span><i class="fa fa-twitter"></i></span>
                        <span><i class="fa fa-facebook-f"></i></span>
                        <span><i class="fa fa-instagram"></i></span>
                        <span><i class="fa fa-linkedin"></i></span> 
                    </div> 
                </div> 
            </div>
        </div>
        <div class="persona-dos">
            <div class="card p-4"> 
                <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                    <button class="btn btn-secondary"> 
                        <img src="https://i.postimg.cc/qhMxNpYK/avatar1.png" height="100" width="100" />
                    </button>
                    <span class="integrante"></span> 
                    <span class="red-social">@jjaramillo</span> 
                    <div class="text-description">
                        <span><br>
                            <br> Data Analyst by Day #NFT minting@ with FND night. </span>
                    </div> 
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <span><i class="fa fa-twitter"></i></span>
                        <span><i class="fa fa-facebook-f"></i></span>
                        <span><i class="fa fa-instagram"></i></span>
                        <span><i class="fa fa-linkedin"></i></span> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>
<div class='texto-about'>
    <h2 class='Que-hicimos'>
        <h1>Que Hicimos</h1>
     
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </h2>
</div>
{% endblock content %}