{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block header %}
<!-- Page Header-->
<header class="masthead" style='background-image: url("{% static 'home/assets/img/home-bg.jpg' %}")'>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{ header }}</h1>
                    <span class="subheading">{{ subheader }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}


<form action="" method="post">
    <tr>
        <th>
            <label for="id_email">Email:</label>
        </th>
        <td>
            <input type="email" name="email" placeholder="Enter your Email" maxlength="254" required id="id_email">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_subject">Subject:</label>
        </th>
        <td>
            <input type="text" name="subject" placeholder="Enter your mail subject" maxlength="255" required id="id_subject">
        </td>
    </tr>
    <tr>
        <th>
            <label for="id_message">Message:</label>
        </th>
        <td>
            <textarea name="message" placeholder="Please type your message" cols="40" rows="10" required id="id_message"></textarea>
        </td>
    </tr>
    <input type="submit" value="Send">
</form>
{% endblock content %}