{% load static %}
{% load i18n %}
<!-- Navigation-->
{% csrf_token %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
    <div class="container-xl">
      <!-- Logo -->
      <a class="navbar-brand" href="{% url 'blog:home' %}">
        <img src="https://dynamic.brandcrowd.com/preview/logodraft/96f4ee4b-aecf-43dd-b38f-b51e8ca67c71/image/large.png" class="h-8" alt="Logo" width="100">
      </a>
      <!-- Navbar toggle -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Nav -->
        <div class="navbar-nav mx-lg-auto">
          <a class="nav-item nav-link active" href="{% url 'blog:home' %}" aria-current="page">{% blocktrans %}Home{% endblocktrans %}</a>
          <a class="nav-item nav-link" href="{% url 'blog:home' %}">{% blocktrans %}Blog{% endblocktrans %}</a>
          <a class="nav-item nav-link" href="{% url 'about:about' %}">{% blocktrans %}About{% endblocktrans %}</a>
          <a class="nav-item nav-link" href="{% url 'contact:contact' %}">{% blocktrans %}Contact{% endblocktrans %}</a>
          <div class="dropdown" style="display: inline-block;">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink78" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans 'Language'%}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink78">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <a class="dropdown-item" href="/{{ language.code }}" style="text-transform: capitalize;">
                  {% if language.code == 'en' %}
                  <span class="flag-icon flag-icon-us"></span>
                    {{ language.name_local }}
                  {% endif %}
                  {% if language.code == 'es' %}
                  <span class="flag-icon flag-icon-es"></span>
                    {{ language.name_local }}
                  {% endif %}
                  {% if language.code == 'fr' %}
                  <span class="flag-icon flag-icon-fr"></span>
                    {{ language.name_local }}
                  {% endif %}
                </a> 
                {% endfor %}
            </div>
        </div>
        </div>
        </div>
        <!-- Right navigation -->

        <div class="navbar-nav ms-lg-4">
          <div class="row">
            <div class="col-12 mb-3">
              {% if not user.is_anonymous %}
                <span style="color:cyan;">
                  {% blocktrans %}Your are logged in as{% endblocktrans %}
                  <strong>{{ user }}</strong>
                </span>
                <button class="btn btn-danger btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">
                  {% blocktrans %}Sign out{% endblocktrans %}
                </button>
                {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'user:login' %}" role="button">
                  {% blocktrans %}Sign in{% endblocktrans %}
                </a>
              {% endif %}
            </div>
        </div>

        <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header"><h4>{% blocktrans %}Sign out{% endblocktrans %}<i class="fa fa-lock"></i></h4></div>
              <div class="modal-body"><i class="fa fa-question-circle"></i> 
                {% blocktrans %}Are you sure you want to log-off?{% endblocktrans %}
              </div>
              <div class="modal-footer">
                <a class="btn btn-danger btn-lg" href="{% url 'user:logout' %}" role="button">Logout</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Action -->
        <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
          <div class="row">
            <div class="col-12 mb-3">
              <a class="btn btn-secondary btn-lg" href="{% url 'user:user-register' %}" role="button">
                {% blocktrans %}Register{% endblocktrans %}
              </a><br>
            </div>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
        <ul class="navbar-nav">
          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href=""
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="{{ user.profile.avatar.url }}"
                class="rounded-circle"
                height="45"
                alt="Portrait of a Woman"
                loading="lazy"
              />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="{% url 'user:user-profile' %}">{% blocktrans %}My Profile{% endblocktrans %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'blog:user_blogs' %}">{% blocktrans %}My Blogs{% endblocktrans %}</a>
              </li>
              {% if user.is_superuser %}
              <li>
                <a class="dropdown-item" href="{% url 'blog:users_management' %}">{% blocktrans %}Manage Users{% endblocktrans %}</a>
              </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      {% endif %}  
    </div>
  </nav>

